body {
    font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", Arial, sans;
    font-size: 12pt;
}
@media print
{
    .row {
        page-break-inside:avoid;
    }
    .section {
    }
}
.contact {
    font-size: 12pt;
}

.hide {
	display: none;
}
.smallnote {
    font-size: 8pt;
}
.half {
    width: 50%;
}

.quarter {
    width: 25%;
}

.threequarter {
    width: 75%;
}

.hide {
    display: none;
}

.row {
    width: 100%;
    clear: both;
    margin-left: 0.25in;
    margin-bottom: 0.1in;
}
.section {
    width: 100%;
    clear: both;
    border-top: 1px solid black;
    margin-top: 0.1in;
}

.left {
    float: left;
}

.tcenter {
    text-align: center;
}
.cl {
    clear: both;
    height: 0px;
}

.contact {
    border-top: 1px solid black;
}

ul {
    margin-top: 0px;
    font-size: 10pt;
}

h2 {
    font-size: 12pt;
    margin: 0;
    margin-bottom: 0.05in;
}

.title {
    font-style: italic;
}
.org {
    font-weight: bold;
}

.atom {
    page-break-inside: avoid;
}
